<div *ngIf="editingTracker === '0'">
  <app-form
    [itemForm]="itemForm"
    [text]="'SAVE'"
    (handleSubmit)="handlePostVillain()"
  ></app-form>
</div>
<app-character-list></app-character-list>
<section>
  <div
    style="width: 100%; margin: 5rem 0; min-width: 16rem"
    *ngFor="let villain of villains"
  >
    <mat-card style="width: auto">
      <div *ngIf="editingTracker === villain.id">
        <mat-card-content>
          <app-form
            [itemForm]="editedForm"
            [text]="isLoading ? 'SENDING' : 'UPDATE'"
            (handleSubmit)="handlePutVillain()"
          ></app-form>
        </mat-card-content>
      </div>
      <div *ngIf="editingTracker !== villain.id">
        <mat-card-header>
          <mat-card-title
            >{{ villain.firstName }} {{ villain.lastName }} is
            {{ villain.knownAs }}</mat-card-title
          >
          <mat-card-subtitle>{{ villain.house }}</mat-card-subtitle>
        </mat-card-header>
      </div>
      <mat-card-content *ngIf="isLoading && editingTracker === villain.id">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-button
          color="primary"
          *ngIf="editingTracker === villain.id"
          (click)="editingTracker = '0'"
        >
          CANCEL
        </button>

        <button
          mat-raised-button
          color="primary"
          *ngIf="editingTracker !== villain.id"
          (click)="editingTracker = villain.id; editedForm.patchValue(villain)"
        >
          EDIT
        </button>
        <button
          mat-raised-button
          color="info"
          (click)="handleNavigateVillainDetail(villain.id)"
        >
          DETAIL
        </button>
        <button
          mat-raised-button
          color="accent"
          (click)="handleSoftDeleteVillain(villain.id)"
        >
          SOFT DELETE
        </button>
        <button
          mat-raised-button
          color="warn"
          (click)="handleDeleteVillain(villain.id)"
        >
          DELETE
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>
