<div *ngIf="editingTracker === '0'">
  <app-form
    [itemForm]="itemForm"
    [text]="'SAVE'"
    (handleSubmit)="handlePostHero()"
  ></app-form>
</div>
<app-character-list></app-character-list>
<mat-card-content *ngIf="isLoading$ | async">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</mat-card-content>
<section>
  <div
    style="width: 100%; margin: 5rem 0; min-width: 16rem"
    *ngFor="let hero of heroes$ | async"
  >
    <mat-card data-testid="card" style="width: auto">
      <div *ngIf="editingTracker === hero.id">
        <mat-card-content>
          <app-form
            [itemForm]="editedForm"
            [text]="(isLoading$ | async) ? 'SENDING' : 'UPDATE'"
            (handleSubmit)="handlePutHero()"
          ></app-form>
        </mat-card-content>
      </div>
      <div *ngIf="editingTracker !== hero.id">
        <mat-card-header>
          <mat-card-title data-testid="card-title"
            >{{ hero.firstName }} {{ hero.lastName }} is
            {{ hero.knownAs }}</mat-card-title
          >
          <mat-card-subtitle>{{ hero.house }}</mat-card-subtitle>
        </mat-card-header>
      </div>
      <mat-card-content
        *ngIf="(isLoading$ | async) && editingTracker === hero.id"
      >
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-content>
      <mat-card-actions>
        <button
          data-testid="cancel-button"
          mat-button
          color="primary"
          *ngIf="editingTracker === hero.id"
          (click)="editingTracker = '0'"
        >
          CANCEL
        </button>

        <button
          data-testid="edit-button"
          mat-raised-button
          color="primary"
          *ngIf="editingTracker !== hero.id"
          (click)="editingTracker = hero.id; editedForm.patchValue(hero)"
        >
          EDIT
        </button>
        <button
          data-testid="detail-button"
          mat-raised-button
          color="info"
          (click)="handleNavigateHeroDetail(hero.id)"
        >
          DETAIL
        </button>
        <button
          data-testid="soft-delete-button"
          mat-raised-button
          color="accent"
          (click)="handleSoftDeleteHero(hero.id)"
        >
          SOFT DELETE
        </button>
        <button
          data-testid="delete-button"
          mat-raised-button
          color="warn"
          (click)="handleDeleteHero(hero.id)"
        >
          DELETE
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>
