<section class="character-list-wrapper">
    <div *ngIf="heroes" class="chips-wrapper" style="margin-right: 2rem;">
        <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
          <mat-chip *ngFor="let hero of heroes">
            {{hero.firstName}} {{hero.lastName}} of {{hero.house}}
          </mat-chip>
        </mat-chip-list>
    </div>

    <div *ngIf="villains" class="chips-wrapper">
        <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
          <mat-chip *ngFor="let villain of villains">
            {{villain.firstName}} {{villain.lastName}} of {{villain.house}}
          </mat-chip>
        </mat-chip-list>
    </div>
</section>